.body{
    background-color:#D1F2ff;
}
.menu{
    background-color:#3e95ca;
    height: 50px;
    text-align:justify;
}
.link{
    color:white;
    margin: 2%;
    text-decoration: none;
    font-size: 200%;
}
.link:hover{
    color: pink;
}
.h1,
.h2{
    color: #3e95ca;
    text-align: center;
}
.h1:hover,
.h2:hover{
    color:#3e95ca;
}
.h3{
    color: black;
    margin-left: 3%;
}
.enunciado{
    color: black;
    margin-left: 3%;
    margin-right: 15%;
    text-justify:auto;
}
.integrantes,
.lista-integrantes{
    color: black;
    margin-left: 3%;
}
.repo-github{
    width: 20%;
    height: 20%;
    margin-top: auto;
    margin-left: 40%;
}
#file-input{
    margin: 2%;
}
.h3{
    color: black;
    margin: 2%;
}
#contenido-archivo{
    margin: 2%;
    color: black
}
.cantidad-camiones{
    margin: 2%;
    color: white;
}