.body{
    background-color:darkviolet;
}
.menu{
    background-color:black;
    height: 50px;
    text-align:justify;
}
.link{
    color:white;
    margin: 2%;
    text-decoration: none;
    font-size: 200%;
}
.link:hover{
    color: pink;
}
.h1,
.h2{
    color: white;
    text-align: center;
}
.h1:hover,
.h2:hover{
    color:fuchsia;
}
.h3{
    color: white;
    margin-left: 3%;
}
.enunciado{
    color: white;
    margin-left: 3%;
    margin-right: 15%;
    text-justify:auto;
}
.integrantes,
.lista-integrantes{
    color: white;
    margin-left: 3%;
}
#grafo-simple{
    background-color:darkcyan;
    width: 70%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 4px;
    border-color: white;
    border-radius: 6px;
}
#node-popUp {
    display:none;
    position:absolute;
    top:30%;
    left:40%;
    z-index:299;
    width:20%;
    height:25%;
    border: solid;
    border-color:white;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    padding:10px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 6px;
}
#edge-popUp {
    display:none;
    position:absolute;
    top:100%;
    left:40%;
    z-index:299;
    width:20%;
    height:25%;
    border: solid;
    border-color: white;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 6px;
}
.repo-github{
    width: 20%;
    height: 20%;
    margin-top: auto;
    margin-left: 40%;
}
#file-input{
    margin: 2%;
}
.h3{
    color: white;
    margin: 2%;
}
#contenido-archivo{
    margin: 2%;
    color: white;
}
.cantidad-camiones{
    margin: 2%;
    color: white;
}